:root {
  --background: rgb(50, 62, 68);
  --background-dark: rgb(38, 50, 56);
  --text-dark: rgb(60, 79, 87);
  --text-bright: #7399a8;
  font-family: "Roboto", sans-serif;
  user-select: none;
}

a {
  color: var(--text-bright);
  text-decoration: none;
}

.button {
  cursor: pointer;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-height: 610px;
  background-color: var(--background);
  position: absolute;
}

.header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: var(--background-dark);
  background-image: url("../image/icon-large.png");
  background-repeat: no-repeat;
  background-size: 65px;
  background-position-y: center;
  background-position-x: 10px;
  display: flex;
}

.appLabel {
  color: white;
  text-indent: 90px;
  line-height: 60px;
  font-size: 20px;
  font-weight: bold;
}

.appLabelSub {
  color: var(--text-bright);
  line-height: 65px;
  font-size: 16px;
  margin-left: 30px;
}

.container {
  width: 600px;
  background-color: var(--background-dark);
  margin: 90px auto auto auto;
  border-radius: 7px;
}

.inputZip {
  margin: 20px;
}

.inputZipLabel {
  color: white;
  font-weight: bold;
  margin-right: 10px;
}

.progressContainer {
  width: 560px;
  margin-top: 10px;
  margin-left: 20px;
}

.progress {
  background-color: var(--background);
  width: 100%;
  height: 36px;
  margin-top: 10px;
  position: relative;
  border-radius: 3px;
}

.progressBar {
  background-color: var(--text-dark);
  position: absolute;
  top: 0;
  left: 0;
  height: 36px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.progressBar[data-completed="true"] {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.progressLabel {
  position: absolute;
  margin-left: 5px;
  top: 0;
  left: 0;
  line-height: 36px;
  color: var(--text-bright);
  font-size: 15px;
}

.message {
  height: 40px;
  margin-top: 10px;
  line-height: 40px;
  margin-bottom: 10px;
  padding-left: 5px;
}

.downloadMessage {
  color: white;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.errorMessage {
  color: rgb(202, 53, 105);
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 120px;
  background-color: var(--background-dark);
}

.footerContent {
  margin: 10px;
  font-size: 13px;
  color: var(--text-bright);
}

.footerRow {
  text-align: center;
}
